# Systems
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
venv/
.env
.pytest_cache/

# Data & Backups
backup_v1/
backend/uploads/
backend/.env
backend/venv/

# IDEs
.vscode/
.idea/


# Build
build/
dist/
.vercel
.env*.local

# Bundles & Updates
*.zip
*.rar
*.tar.gz
update-bundle/
native-bundle/
dotnet-bundle/
updates/
test_wheels/

# Database & Backups
*.db
*.db.bak
*.log
backend_backup/
